---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "astro:assets";
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/*.{jpeg,jpg,png,gif}",
);
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class="container mx-auto md:px-10">
      <div class="relative mb-20">
        <span class="bg-black bg-opacity-25 w-full h-full absolute"></span>
        <div class="absolute bottom-10 md:left-20 left-6">
          <h1 class="text-4xl md:text-9xl font-semibold text-shadow text-white">
            <span class="font-kablamo text-ppink">P</span>rojects
          </h1>
        </div>
        <Image
          src={images["/src/assets/fran.jpg"]()}
          alt="Projects"
          class="h-96 w-full object-cover"
        />
      </div>

      <div class="text-black px-6 md:px-0 max-w-2xl mx-auto">
        <p class="text-center text-gray-600">
          This page is under construction. Check back soon!

          <p class="text-center text-sm text-gray-400 mt-4">
            Photo by <a
              href="https://unsplash.com/es/@francescobiancoo?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              class="text-pgreen font-bold">Francesco Bianco</a
            > on <a
              class="text-pgreen font-bold"
              href="https://unsplash.com/es/fotos/arte-mural-floral-dorado-y-azul-TVsgRyKJDc0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash"
              >Unsplash</a
            >
          </p>
        </p>
      </div>
      <Footer />
    </main>
  </body>
</html>
